Source: cockpit-openvpn
Section: net
Priority: optional
Maintainer: Helly1206
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: sharing

Package: cockpit-openvpn
Architecture: all
Depends: openvpn,
         easy-rsa,
         python3,
         python3-pip,
         cockpit,
         cockpit-stdplgin (>= 0.93),
         ${misc:Depends}
Description: cockpit-openvpn (cockpit UI openVPN setup and certificate management)
